apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: clinical-berth-1
spec:
  project: default
  source:
    repoURL: https://github.com/RamDevopspractice/clinical-berth-1.git
    targetRevision: HEAD
    path: helm
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
